@use './abstract';
@use './layout';
body {
    background-color: abstract.$bg-color;
    color: abstract.$main-tx-color;
    font-family: abstract.$font-family;
}

//max width of container
.wrapper {
    overflow-x: hidden;
    max-width: 1480px;
    margin: 0 auto;
}