@use '../abstract';
@use 'sass:color';

.footer {
    width: 100%;
    background: url('../assets/mobile/image-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;


    .footer__container {
        margin-top: -52px;
        background-color: #4D96AD;
        opacity: 0.9;
        height: 100%;
        padding-bottom: 50px;
    }

    .footer__title {
        font-size: 2rem;
        text-align: center;
        color: white;
        padding-top: 96px;
        line-height: 36px;
        font-weight: 900;
    }

    .footer__summary {
        text-align: center;
        color: abstract.$white_tx;
        font-size: abstract.calculateRem(18);
        line-height: 26px;
        margin-top: 20px;
        padding: 0 24px;
    }

    .hero__content__btns--btn {
        @include abstract.mainBtn;
        margin: 32px auto;
        background-color: abstract.$btn-purple-bg;

        &:hover,
        &:focus {
            background-color: color.scale(abstract.$btn-purple-bg, $lightness: 20%);
        }
    }

    .btn__span {
        color: #d9b8ff;
    }

    @include abstract.mQ(680px) {
        background: url("../assets/tablet/image-footer.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include abstract.mQ(1280px) {
        background: url("../assets/desktop/image-footer.jpg");
        background-repeat: no-repeat;
        background-size: cover;


        .footer__container {
            margin-top: -80px;
            padding: 90px 165px;            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;           
            align-items: center;
        }

        .footer__title {            
            padding-top: 0;  
            text-align: left;
        }

        .footer__summary {           
            margin-top: 0px;
            padding: 0 20px;
            text-align: left;
        }
    }
}