@use '../abstract';
@use 'sass:color';

.nav {
    padding-top: 48px;

    .nav__logo {
        display: block;
        margin: auto;
    }

    .hero__img__image {
        display: block;
        margin: auto;
        width: 100%;
    }

    @include abstract.mQ(1080px) {
        padding-top: 80px;
    }
}

.hero {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "image1 image2"
        "content content";

    .hero__img1 {
        grid-area: image1;
    }

    .hero__img2 {
        grid-area: image2;
    }

    .hero__img__image {
        display: block;
        width: 100%;
    }

    .hero__content {
        margin-top: 45px;
        grid-area: content;
        max-width: 457px;
        margin: 45px auto 0;
    }

    .hero__content__title {
        font-size: abstract.calculateRem(40);
        text-transform: capitalize;
        line-height: 44px;
        text-align: center;
        color: abstract.$clr-dark-grey;
        font-weight: 900;
        padding: 10px 50px 18px;
    }

    .hero__content__summary {
        font-size: 1rem;
        text-align: center;
        line-height: 26px;
        padding: 0px 20px;
    }

    .hero__content__btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 38px;
    }

    .hero__content__btns--btn {
        @include abstract.mainBtn;
    }

    .btn__span {
        color: abstract.$clr-light-green;
    }

    .secondary--btn {
        background-color: abstract.$clr-med-purple;

        &:hover,
        &:focus {
            background-color: color.scale(abstract.$clr-med-purple, $lightness: 20%);
        }
    }

    @include abstract.mQ(680px) {
        margin-top: 65px;

        .hero__content__btns {
            flex-direction: row;
        }

        .hero__content__title {
            padding: 24px 50px 18px;
            margin-bottom: 15px;
        }
    }

    @include abstract.mQ(1080px) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "image1 content image2";

        .hero__content__title {
            font-size: abstract.calculateRem(64);
            line-height: 64px;
            padding: 0px 0px 18px;
        }

        .hero__img1 {
            margin-left: -33px;
        }

        .hero__img2 {
            margin-right: -33px;
        }

    }
}