@use '../abstract';

.main {
    padding: 24px;
    z-index: 2;
    position: relative;

    .main__container {
        margin-top: 65px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .main__container__img__image {
        width: 100%;
        border-radius: 8px;
    }

    .main__span {
        @include abstract.mainSpan;
    }

    .span__one {
        position: relative;
        margin-top: 120px;

    }

    .main__description {
        margin-top: 50px;
    }

    .main__description__title {
        text-align: center;
        text-transform: uppercase;
        line-height: 26px;
        letter-spacing: 4px;
        font-size: abstract.calculateRem(16);
        font-weight: 900;
        color: abstract.$clr-turquoise;
    }

    .main__description__subtitle {
        line-height: 36px;
        font-size: abstract.calculateRem(32);
        font-weight: 900;
        text-align: center;
        color: abstract.$clr-dark-grey;
        margin-top: 28px;
    }

    .main__description__summary {
        text-align: center;
        line-height: 26px;
        margin-top: 32px;
        padding: 7px;
    }

    .span__two {
        margin-top: 130px;
        background: white;
    }

    @include abstract.mQ(680px) {
        padding: 24px 39px;

        .main__container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .span__one {
            margin-top: 138px;
        }

        .main__description {
            max-width: 573px;
            margin: 50px auto 0;
        }

        .main__description__subtitle {
            line-height: 44px;
            font-size: abstract.calculateRem(40);
            padding: 0px 60px;
        }
    }

    @include abstract.mQ(1280px) {
        padding: 55px 165px;

        .main__description {
            margin: 65px auto 0;
        }
    }
}