$clr-white: #ffffff; // $clr-white
$clr-white: #ffffff; // $clr-white
$clr-grey-purple: #87879D; // $clr-grey-purple
$clr-dark-grey: #28283d; // $clr-dark-grey
$clr-turquoise: #4D96A9; // $clr-turquoise
$clr-turquoise: #4D96A9; // $clr-turquoise
$clr-med-purple: #855FB1; // $clr-med-purple
$clr-light-green:#8FE3F9; // $clr-light-green

